# Environment Config
# Rename this file to .env
# store your secrets and config variables in here
# only invited collaborators will be able to see your .env values

# reference these in your code with process.env.SECRET

botToken='key'
clientId='key'
clientSecret='key'
appToken='key'
appID='key'
READ=true
WRITE=false

# note: .env is a shell file so there can't be spaces around =
